body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fff;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  background-color: rgb(92, 110, 244);
  border-radius: 5px;
  padding: 8px 15px;
}

button:hover {
  cursor: pointer;
  background-color: rgba(92, 110, 244, 0.9);
}

button:disabled {
  background-color: rgba(92, 110, 244, 0.5);
  cursor: not-allowed;
}

input {
  font-size: 16px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  border-bottom: 1px solid rgb(92, 110, 244);
  outline: none;
  flex: 1;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  > h1 {
    padding: 1.2rem;
  }
}

.loader {
  position: relative;
  width: 120px;
  height: 90px;
  margin: 0 auto;
}

.loader:before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #2a9d8f;
  animation: loading-bounce 0.5s ease-in-out infinite alternate;
}

.loader:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 7px;
  width: 45px;
  border-radius: 4px;
  box-shadow:
    0 5px 0 #000,
    -35px 50px 0 #000,
    -70px 95px 0 #000;
  animation: loading-step 1s ease-in-out infinite;
}

@keyframes loading-bounce {
  0% {
    transform: scale(1, 0.7);
  }

  40% {
    transform: scale(0.8, 1.2);
  }

  60% {
    transform: scale(1, 1);
  }

  100% {
    bottom: 140px;
  }
}

@keyframes loading-step {
  0% {
    box-shadow:
      0 10px 0 rgba(0, 0, 0, 0),
      0 10px 0 #000,
      -35px 50px 0 #000,
      -70px 90px 0 #000;
  }

  100% {
    box-shadow:
      0 10px 0 #000,
      -35px 50px 0 #000,
      -70px 90px 0 #000,
      -70px 90px 0 rgba(0, 0, 0, 0);
  }
}
