.game {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  overflow: hidden;
}

button {
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  background-color: rgb(92, 110, 244);
  border-radius: 5px;
  padding: 8px 15px;
}

button:hover {
  cursor: pointer;
  background-color: rgba(92, 110, 244, 0.9);
}

button:disabled {
  background-color: rgba(92, 110, 244, 0.5);
  cursor: not-allowed;
}

input {
  font-size: 16px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  border-bottom: 1px solid rgb(92, 110, 244);
  outline: none;
  flex: 1;
}