.profile_container {
    background-color: #F2F5F8;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media (max-width: 768px)
    {
        flex-direction: column;
    }
}

.profile_contant {
    padding-top: 40px;
    flex: 1;
}

.contact_inner {
    margin-top: 50px;
    @media (max-width: 768px)
    {
        margin-top: 0;
    }
}

.tabbar {
    flex-basis: 100%;
}

.progress.skill-bar {
    background: #f25959;
}