.home {
  display: flex;
  flex-direction: row;
  width: 80%;
}

.rooms-list {
  height: 300px;
  width: 300px;
  margin-right: 300px;
  overflow-y: scroll;
}

.room-item {
  color: white;
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}

button {
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  background-color: rgb(92, 110, 244);
  border-radius: 5px;
  padding: 8px 15px;
}

button:hover {
  cursor: pointer;
  background-color: rgba(92, 110, 244, 0.9);
}

button:disabled {
  background-color: rgba(92, 110, 244, 0.5);
  cursor: not-allowed;
}

input {
  font-size: 16px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  border-bottom: 1px solid rgb(92, 110, 244);
  outline: none;
  flex: 1;
}
