
@media (min-width: 768px) and (max-width: 1200px) {
    body {
        overflow-x: hidden;
    }
    .container {
        width: 100%;
        padding: 0 20px;
    }
    .info_people .user_info_cont {
        width: 60%;
        padding-left: 30px;
        padding-top: 0;
    }
    .fw_icon {
        width: 33.33%;
    }

    .profile_container {
        max-width: 75%;
    }
}


@media (min-width: 576px) and (max-width: 767px) {
    body {
        overflow-x: hidden;
    }
    .container {
        width: 100%;
        padding: 0 20px;
    }

    .profile_container {
        max-width: 85%;
    }

    .dis_flex {
        flex-direction: column;
    }
}

@media (max-width: 575px) {
    body {
        overflow-x: hidden;
    }
    .container {
        width: 100%;
        padding: 0 20px;
    }

    .profile_container {
        max-width: 85%;
    }

    .dis_flex {
        flex-direction: column;
    }
}